.gdbar img {
  width: 250px !important;
  height: 250px !important;
  margin: 10px 10px !important;
}

.gdbar {
  width: 800px !important;
  height: 270px !important;
}


slides > slide:not(.nobackground):before {
  width: 80px !important;
  height: 80px !important;
  background-size: 80px 80px !important;
}